
a {
  text-decoration: inherit;
  color: inherit;
}

.title {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}

.normal-font {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h3 {
  cursor: pointer;
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 38px;
  }
}
