// @use './variables.module.scss';


.container{
  width: 1000px;
  margin: 0 auto;
}

  a {
    font-weight: 500;
    text-decoration: inherit;
    color: inherit;
  }
  
.title{
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  // color: $main-black;
  
  }